@using KOrders.Core.Resources
@using KOrders.Data
@model KOrders.Data.Order

@{
    ViewBag.Title = CommonRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@CommonRes.Edit</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>


        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-light-blue">


                    <div class="panel-heading">
                        <h2 class="panel-title">الطلبيات</h2>
                    </div>

                    <div class="panel-body">

                        @Html.ValidationSummary(true)

                        <hr />

                        <div class="form-group row">
                            @Html.HiddenFor(m => m.ID)




                            <div class="col-lg-3">
                                @Html.Label(NMSRes.Supp_Name)

                                @Html.DropDownListFor(model => model.VendorId, null, CommonRes.SelectDropDown, new { @class = "form-control", @onchange = "getItems();" })
                            </div>

                            <div class="col-lg-3">
                                تاريخ فتح الطلبية

                                @Html.TextBoxFor(m => m.OpendDate, null, new { @class = "form-control", type = "date" })
                            </div>
                            <div class="col-lg-3">
                                زمن فتح الطلبية

                                @Html.TextBox("openTime", null, new { @class = "form-control", type = "time" })
                            </div>
                            <div class="col-lg-3">
                                تاريخ قفل الطلبية

                                @Html.TextBoxFor(m => m.Close_Date, null, new { @class = "form-control", type = "date" })
                            </div>
                            <div class="col-lg-3">
                                زمن  قفل الطلبية

                                @Html.TextBoxFor(m => m.CloseTime, null, new { @class = "form-control", type = "time" })
                            </div>
                            <div class="col-lg-3">
                                رقم الحساب

                                @Html.TextBoxFor(m => m.AccountNo, null, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-3">
                                اسم الحساب

                                @Html.TextBoxFor(m => m.AccountName, null, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-3">
                                مكان الاستلام

                                @Html.TextBoxFor(m => m.RecievePlace, null, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-3">
                                اسم المستلم

                                @Html.TextBoxFor(m => m.RecievePerson, null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-light-blue">


                    <div class="panel-heading">

                        <h2 class="panel-title">مكونات الطلبية</h2>
                    </div>


                    <div class="panel-body">
                        <hr />

                        <div class="form-group row">
                            <div class="col-lg-3">
                                @Html.Label(NMSRes.itemname)

                                @Html.DropDownList("ItemId", null, CommonRes.SelectDropDown, new { @class = "form-control", @onchange = "ItemSelected();" })
                            </div>

                            <div class="col-lg-3">
                                سعر الكرتونة


                                @Html.TextBox("Price", string.Empty, new { @class = "form-control", @onchange = "ItemSelected();" })
                            </div>

                            <div class="col-lg-3">
                                سعر القطعة


                                @Html.TextBox("ItemPrice", "0", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div>
                            <center>
                                <p>
                                    <input type="button" value="@CommonRes.add" id="Add" class="btn btn-success hvr-bounce-in" onclick="add(this.id);" />
                                </p>
                            </center>
                        </div>



                        <div id="outputTable">

                        </div>





                    </div>
                </div>


                <div id="outputTableInit">
                    <table id="tableData" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>

                                <th>
                                    @Html.DisplayName(NMSRes.Name)
                                </th>
                                <th>
                                    @Html.DisplayName(NMSRes.total_Price)
                                </th>

                                <th>
                                    @Html.DisplayName(NMSRes.PriceForOnce)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < (ViewBag.EditItems as IEnumerable<OrderItem>).Count<OrderItem>(); i++)
                            {
                                var items = (ViewBag.EditItems as IEnumerable<OrderItem>).ToArray<OrderItem>();
                                <tr>
                                    <td>
                                        @Html.Raw(i + 1)
                                    </td>
                                    <td>
                                        <input id="items[@i].VendorItem.Name" class="form-control" value="@items[i].VendorItem.Name" type="text" disabled="disabled">

                                    </td>
                                    <td>
                                        <input id="items[@i].Price" class="form-control" value="@items[i].Price" type="text" disabled="disabled">

                                    </td>


                                    <td>
                                        <input id="items[@i].ItemPrice" class="form-control" value="@items[i].ItemPrice" type="text" disabled="disabled">

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div id="outputTable">

                </div>

                <div class="form-group">

                    <center class="mgtp">

                        <input type="submit" value="@CommonRes.Button_Save" class="btn btn-primary hvr-bounce-in" />
                        &nbsp;
                        @Html.ActionLink(CommonRes.BackToList, "Index", null, new { @class = "btn btn-warning hvr-bounce-in" })

                    </center>

                </div>



            </div>

                </div>

            </div>
        </div>

    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">

        function add(_ddlDesc) {




            var target = $('#outputTable');
            var input = { ItemId: $('#ItemId').val(), Price: $('#Price').val(), ItemPrice: $('#ItemPrice').val() };
            $.ajax({
                url: '/OpenOrder/EditAdd',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.html(data);

                },
                error: function () {
                }
            });
            $("#outputTableInit").hide();

            $('#ItemId').val("");

        }
        function deleteItem(systemId) {

            var target = $('#outputTable');
            var input = { id: systemId };
            $.ajax({
                url: '/OpenOrder/EditDelete',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.html(data);

                },
                error: function () {
                }
            });

            $("#outputTableInit").hide();

        }



    </script>
}



