
@model IEnumerable<NMS.Data.Ride>
@using NMS.Core.Resources
@using NMS


<style type="text/css">
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>
<div id="outputTable">



    <table id="tableData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayName(NMSRes.Count)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.Amount)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.Type)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.Driver)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.Invoice_ID)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.InSirkNo)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.date)
                </th>
                <th>
                    @Html.DisplayName(NMSRes.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ToArray().Length; i++)
            {
                var items = Model.ToArray();
                <tr>
                    <td>
                        @Html.Raw(i + 1)
                    </td>
                    <td>
                        <input id="items[@i].count" class="form-control" value="@items[i].count" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].Amount" class="form-control" value="@items[i].Amount" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].Type" class="form-control" value="@items[i].Type" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].Emp_ID" class="form-control" value="@items[i].Emp_ID" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].Invoice_ID" class="form-control" value="@items[i].Invoice_ID" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].SirkID" class="form-control" value="@items[i].SirkID" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].date" class="form-control" value="@items[i].date" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].comment" class="form-control" value="@items[i].comment" type="text" disabled="disabled">

                    </td>
                    </tr>
            }
        </tbody>
    </table>

</div>
<script type="text/javascript">




</script>



